#habilidades {
    
}
#image.image-container {
    position: absolute;
}

#nome {
    text-align: center;
}

#eu {
    float: left;
    height: 450px;
    padding: 10px;
    background-color: #71ABA9;
}

.image-container {
    height: 100px;
}

body {
    background-color: rgb(161, 137, 201);
}

.nome,
.desc {
    font-family: 'Courier New', Courier, monospace;
}

.u {
    font-size: 25px;
}

.g {
    font-size: 25px;
}

.s {
    font-size: 25px;
}

.p {
    font-size: 25px;
}